[submodule "jtc4omm"]
	path = jtc4omm
	url = https://github.com/justedlev/jtc4omm.git
[submodule "spring-data-v3-commons"]
	path = spring-data-v3-commons
	url = https://github.com/justedlev/spring-data-v3-commons.git
[submodule "logging"]
	path = logging
	url = https://github.com/justedlev/logging.git
